@page "{id:Guid}"
@model RazorPageCurdDemo.Pages.EMP.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}

<h1>Edit Details</h1>

@if (!string.IsNullOrWhiteSpace(message))
{
    <div class="alert alert-success">
        @message
    </div>
}

<form method="post">

    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="empViewModel.Id" readonly/>
    </div>

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="empViewModel.Name" />
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="empViewModel.Email" />
    </div>

    <div class="mb-3">
        <label class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="empViewModel.Salary" />
    </div>

    <div class="mb-3">
        <label class="form-label">DateOfBirth</label>
        <input type="datetime" class="form-control" asp-for="empViewModel.DateOfBirth" />
    </div>

    <div class="mb-3">
        <label class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="empViewModel.Department" />
    </div>

    <div class="mb-3 d-flex justify-content-between">
        <div class="mb-3">
            <button class="btn btn-primary" asp-page-handler="Update">Update</button>
        </div>

        <div class="mb-3">
            <button class="btn btn-danger" asp-page-handler="Delete">Delete</button>
        </div>
    </div>

</form>