@page
@model RazorPageCurdDemo.Pages.EMP.ListModel
@{
}

<h1> Emp Details</h1>
@if(Model.EmpList != null && Model.EmpList.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EmpList)
            {
                <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td><a href="/EMP/Edit/@item.Id" class="btn btn-dark">Edit</a></td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Data Found </p>
}